step.json
{
  "Comment": "Car Rental Marketplace Pipeline",
  "StartAt": "Create EMR Cluster",
  "States": {
    "Create EMR Cluster": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:createCluster.sync",
      "Parameters": {
        "Name": "car-rental-pipeline-cluster",
        "ReleaseLabel": "emr-6.12.0",
        "Applications": [
          {
            "Name": "Spark"
          }
        ],
        "Instances": {
          "InstanceGroups": [
            {
              "InstanceRole": "MASTER",
              "InstanceType": "m5.xlarge",
              "InstanceCount": 1
            },
            {
              "InstanceRole": "CORE",
              "InstanceType": "m5.xlarge",
              "InstanceCount": 2
            }
          ],
          "KeepJobFlowAliveWhenNoSteps": true
        },
        "JobFlowRole": "EMR_EC2_DefaultRole",
        "ServiceRole": "EMR_DefaultRole",
        "LogUri": "s3://vehicle-rental-marketplace/emr-logs/"
      },
      "ResultPath": "$.ClusterInfo",
      "Next": "Run Spark Jobs in Parallel"
    },
    "Run Spark Jobs in Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Run Location-Vehicle Spark Job",
          "States": {
            "Run Location-Vehicle Spark Job": {
              "Type": "Task",
              "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
              "Parameters": {
                "ClusterId.$": "$.ClusterInfo.ClusterId",
                "Step": {
                  "Name": "Location and Vehicle Performance Metrics",
                  "ActionOnFailure": "CONTINUE",
                  "HadoopJarStep": {
                    "Jar": "command-runner.jar",
                    "Args": [
                      "spark-submit",
                      "--deploy-mode",
                      "cluster",
                      "s3://vehicle-rental-marketplace/scripts/location_vehicle.py"
                    ]
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Run User-Transaction Spark Job",
          "States": {
            "Run User-Transaction Spark Job": {
              "Type": "Task",
              "Resource": "arn:aws:states:::elasticmapreduce:addStep.sync",
              "Parameters": {
                "ClusterId.$": "$.ClusterInfo.ClusterId",
                "Step": {
                  "Name": "User and Transaction Analysis",
                  "ActionOnFailure": "CONTINUE",
                  "HadoopJarStep": {
                    "Jar": "command-runner.jar",
                    "Args": [
                      "spark-submit",
                      "--deploy-mode",
                      "cluster",
                      "s3://vehicle-rental-marketplace/scripts/user_transaction.py"
                    ]
                  }
                }
              },
              "End": true
            }
          }
        }
      ],
      "Next": "Trigger Glue Crawler"
    },
    "Trigger Glue Crawler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "car_rental"
      },
      "Next": "Wait for Crawler"
    },
    "Wait for Crawler": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Query Athena - Highest Revenue Location"
    },
    "Query Athena - Highest Revenue Location": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryString": "SELECT location_name, total_revenue FROM car_rental.revenue_per_location ORDER BY total_revenue DESC LIMIT 1",
        "ResultConfiguration": {
          "OutputLocation": "s3://vehicle-rental-marketplace/athena-results/"
        }
      },
      "ResultPath": "$.AthenaQuery1",
      "Next": "Query Athena - Most Rented Vehicle Type"
    },
    "Query Athena - Most Rented Vehicle Type": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryString": "SELECT vehicle_type, avg_rental_hours FROM car_rental.rental_duration_by_vehicle ORDER BY avg_rental_hours ASC LIMIT 1",
        "WorkGroup": "primary",
        "ResultConfiguration": {
          "OutputLocation": "s3://vehicle-rental-marketplace/athena-results/"
        }
      },
      "ResultPath": "$.AthenaQuery2",
      "Next": "Query Athena - Top Spending User"
    },
    "Query Athena - Top Spending User": {
      "Type": "Task",
      "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
      "Parameters": {
        "QueryString": "SELECT first_name, max_spent FROM car_rental.user_spending ORDER BY max_spent DESC LIMIT 1",
        "ResultConfiguration": {
          "OutputLocation": "s3://vehicle-rental-marketplace/athena-results/"
        }
      },
      "ResultPath": "$.AthenaQuery3",
      "Next": "Terminate EMR Cluster"
    },
    "Terminate EMR Cluster": {
      "Type": "Task",
      "Resource": "arn:aws:states:::elasticmapreduce:terminateCluster.sync",
      "Parameters": {
        "ClusterId.$": "$.ClusterInfo.ClusterId"
      },
      "End": true
    }
  }
}